---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Edward Miller";
---
<Layout pageTitle={pageTitle}>
    <div class="flex justify-center m-8">
        <img class="rounded-xl " width="300" height="300" alt="Profile Picture" src="/profile.jpg"/>
    </div>
    <h1>Edward Miller</h1>
    <span class="badge">Software Engineer</span>
    <h2 class="mt-8">About</h2>
    <p>
        Hi there! I'm a software engineer with a near 3-year journey under my belt, 
        building both front-end and back-end experiences. 
        When I'm not coding, you'll likely find me surrounded by my furry companions - 3 adorable cats and 2 playful dogs!
    </p>
    <p class="mt-4">
        My passion for technology extends beyond the professional realm. 
        I love tackling personal projects that allow me to explore new frameworks and languages. 
        This constant learning keeps my skills sharp and fuels my excitement for the ever-evolving world of software development.
    </p>

    <p class="mt-4">You can check some of the projects I've worked on below</p>
    <div class="center">
        <a href="/projects/">
            <button class="btn mt-5">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="grid grid-cols-4 gap-x-3 gap-y-2">
        <div class="p-3 hover:rotate-12 duration-100"><i class="devicon-javascript-plain colored text-4xl"></i></div>
        <div class="p-3 hover:rotate-12 duration-100">
            <i class="devicon-typescript-plain colored text-4xl"></i>
          </div>
        <div class="p-3 hover:rotate-12 duration-100"><i class="devicon-react-original colored text-4xl"></i></div>
        <div class="p-3 hover:rotate-12 duration-100">
            <i class="devicon-vuejs-plain colored text-4xl"></i>
        </div>
        <div class="p-3 hover:rotate-12 duration-100">
            <i class="devicon-tailwindcss-original colored text-4xl"></i>
        </div>
        <div class="p-3 hover:rotate-12 duration-100">
            <i class="devicon-nodejs-plain-wordmark colored text-4xl"></i>
        </div>
        <div class="p-3 hover:rotate-12 duration-100">
            <i class="devicon-graphql-plain colored text-4xl"></i>
        </div>
    </div>
    <h2>Interests</h2>
    <p>
        When I'm not working on my side projects, I'm busy hanging out with my furry companions. I help my wife run an animal 
        <a href="https://www.instagram.com/wedontgiveafluff?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="text-[#78c2ad]">Instgram</a> account. 
        I also love playing video games and hanging with friends on Discord. I enjoy staying fit and active by going to Crossfit classes 4-5 times a week.
    </p>
</Layout>

