---
interface Props {
    url: string;
    image: string;
    title: string;
    body: string;
    hasBadge: boolean;
}

const { url, image, title, body, hasBadge } = Astro.props;
---
<li class="card">
    <a class="card__link" href={url}>
        <div class="center">
            <img class="rounded-xl w-full h-full" width="226" height="127" src={image} alt="ProjectImage">
        </div>
        <h3 class="card__title">
            {title}
        </h3>
        <p class="card__txt">
            {body}
        </p>
        {hasBadge && <div class="badge w-2/3 mt-1">Work in progress</div>}
    </a>
</li>

