---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="hover:text-[#78c2ad]" href="https://github.com/edmiller1" target="_blank"><i class="ph ph-github-logo text-2xl"></i></a></li>
            <li class="icon__btn"><a class="hover:text-[#78c2ad]" href="mailto: edmiller.me@gmail.com"><i class="ph ph-envelope text-2xl"></i></a></li>
            <li class="icon__btn"><a class="hover:text-[#78c2ad]" href="https://www.linkedin.com/in/edward-miller-88bbb31ba/" target="_blank"><i class="ph ph-linkedin-logo text-2xl"></i></a></li>
        </ul>
        <small>{year}</small>
    </div>
</footer>

